@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;600;700&display=swap');

.mainPageContainer{
   
    min-height: 100vh;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #0029c1 50%, #FF0000 100%);
}
.characterContainer{
    width: 80%;
}

